@model HospitalProject_W2022.Models.ViewModels.DetailsShift
@{
    ViewBag.Title = "Details";
}

<div>
    <nav>
        <!-- Back to shift's list -->
        <a href="/Shift/List" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to
            <br />the Shift list
        </a>
        <!-- Update shift button -->
        <a href="/Shift/Edit/@Model.SelectedShift.SHID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Update
            <span class="glyphicon glyphicon-edit"></span>
            <br />Shift
        </a>
        <!-- Delete shift button -->
        <a href="/Shift/DeleteConfirm/@Model.SelectedShift.SHID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Delete
            <span class="glyphicon glyphicon-minus"></span>
            <br />Shift
        </a>
    </nav>
</div>

<h2>Shift Details:</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.SelectedShift.SHID</th>
            <td>@Model.SelectedShift.Date.ToLongDateString()o</td>
            <td>@Model.SelectedShift.Type</td>
        </tr>
    </tbody>
</table>

<h3>List of Staffs:</h3>
@foreach (var staff in Model.KeptStaff)
{
    <a href="/Staff/Details/@staff.SID">@staff.FName @staff.LName</a>
    <a href="/Shift/UnAssociate/@Model.SelectedShift.SHID?StaffID=@staff.SID"><span class="delLink glyphicon glyphicon-trash"></span> </a>
    <br />
}

<hr />

<h3>Add More Staffs to the Shift:</h3>
<form method="POST" action="/Shift/Associate/@Model.SelectedShift.SHID" class="newForm">
    <div>
        <select name="SID">
            @foreach (var staff in Model.StaffOptions)
            {
                <option value="@staff.SID">@staff.FName @staff.LName </option>
            }
        </select>
        <button type="submit" class="btn btn-primary" value="Add Staff">Add Staff</button>
    </div>
</form>

