@model HospitalProject_W2022.Models.AppointmentDto
@{
    ViewBag.Title = "Details";
}

<div>
    <nav>
        <!-- Back to appointment's list -->
        <a href="/Appointment/List" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to
            <br />the Appointment list
        </a>
        <!-- Update appointment button -->
        <a href="/Appointment/Edit/@Model.AID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Update
            <span class="glyphicon glyphicon-edit"></span>
            <br />Appointment
        </a>
        <!-- Delete appointment button -->
        <a href="/Appointment/DeleteConfirm/@Model.AID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Delete
            <span class="glyphicon glyphicon-minus"></span>
            <br />Appointment
        </a>
    </nav>
</div>

<h2>Appointment Details for @Model.FName @Model.LName</h2>
<div>Date: @Model.Date.ToLongDateString()</div>
<div>Time: @Model.Time</div>
<div>Reason: @Model.Reason</div>
