@model HospitalProject_W2022.Models.ViewModels.UpdateAppointment
@{
    ViewBag.Title = "Edit";
}

<h2>Update Appointment</h2>

<div>
    <a href="/Appointment/List" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to
        <br />the Appointment list
    </a>
</div>

<form class="editForm" method="POST" action="/Appointment/Update/@Model.SelectedAppointment.AID" enctype="multipart/form-data">
    <div class="form-group" style="display:none;">
        @* Pass through the appointment ID *@
        <input type="text" name="AID" value="@Model.SelectedAppointment.AID" />
    </div>
    <div class="form-group">
        <label>Date:</label>
        <input type="text" name="date" id="myDate" value="@Model.SelectedAppointment.Date.ToShortDateString()" />
    </div>
    <div class="form-group">
        <label>Time:</label>
        <input type="text" name="time" value="@Model.SelectedAppointment.Time" />
    </div>
    <div class="form-group">
        <label>Reason:</label>
        <input type="text" name="reason" value="@Model.SelectedAppointment.Reason" />
    </div>
    <div class="form-group">
        <label>Patient:</label>
        <select name="PID" >
            @foreach (var patient in Model.PatientOptions)
            {
                string selected = "";
                if (patient.PID == Model.SelectedAppointment.PID)
                {
                    selected = "selected";
                }
                <option value="@patient.PID" @selected>@patient.FName @patient.LName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary" value="Update Appointment">Update Appointment</button>
</form>

<!--Reference: https://stackoverflow.com/questions/43274559/how-do-i-restrict-past-dates-in-html5-input-type-date-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#myDate').attr('min', maxDate);
    });
</script>