@model HospitalProject_W2022.Models.ViewModels.UpdateAppointment
@{
    ViewBag.Title = "Edit";
}

<h2>Update Appointment</h2>

<div>
    <a href="/Appointment/List" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to
        <br />the Appointment list
    </a>
</div>

<form method="POST" action="/Appointment/Update/@Model.SelectedAppointment.AID" enctype="multipart/form-data" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
    <div style="display:none;">
        @* Pass through the appointment ID *@
        <input type="text" name="AID" value="@Model.SelectedAppointment.AID" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Date:</label>
        <input type="date" name="date" value="@Model.SelectedAppointment.Date.ToShortDateString()" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Time:</label>
        <input type="text" name="time" value="@Model.SelectedAppointment.Time" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Reason:</label>
        <input type="text" name="reason" value="@Model.SelectedAppointment.Reason" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Patient:</label>
        <select name="PID" style="padding: 12px 12px 12px 0; display: inline-block;">
            @foreach (var patient in Model.PatientOptions)
            {
                string selected = "";
                if (patient.PID == Model.SelectedAppointment.PID)
                {
                    selected = "selected";
                }
                <option value="@patient.PID" @selected>@patient.FName @patient.LName</option>
            }
        </select>
    </div>
    <!--<div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Patient:</label>
        <input type="text" name="PID" value="Model.PID" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />

        <label style="padding: 12px 12px 12px 0; display: inline-block;">Patient Last Name:</label>
        <input type="text" name="lname" value="Model.LName" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>-->
    <div>
        <input type="submit" value="Update Appointment" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;" />
    </div>
</form>

