@model HospitalProject_W2022.Models.ViewModels.AppointmentList
@{
    ViewBag.Title = "List";
}

<div>
    <a href="/Appointment/New" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-user glyphsize"></span>
        <br />New
        <span class="glyphicon glyphicon-plus green"></span>
        <br />Appointment
    </a>
</div>

<div>IsAdmin: @Model.IsAdmin </div>


<h2>List of Appointments</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Reason</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model.Appointments)
        {
        <tr>
            <th scope="row">@appointment.AID</th>
            <td><a href="/Appointment/Details/@appointment.AID">@appointment.FName @appointment.LName</a></td>
            <td>@appointment.Date.ToLongDateString()</td>
            <td>@appointment.Time</td>
            <td>@appointment.Reason</td>
            <td><a href="/Appointment/Details/@appointment.AID"><span class="viewLink glyphicon glyphicon-eye-open"></span></a></td>
            <td><a href="/Appointment/Edit/@appointment.AID"><span class="editLink glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="/Appointment/DeleteConfirm/@appointment.AID"><span class="delLink glyphicon glyphicon-trash"></span></a></td>
        </tr>
        }
        </tbody>
</table>

