@model HospitalProject_W2022.Models.ViewModels.DetailsStaff
@{
    ViewBag.Title = "Details";
}

<div>
    <nav>
        <!-- Back to appointment's list -->
        <a href="/Staff/List" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to
            <br />the Staff list
        </a>
        <!-- Update appointment button -->
        <a href="/Staff/Edit/@Model.SelectedStaff.SID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Update
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <!-- Delete appointment button -->
        <a href="/Staff/DeleteConfirm/@Model.SelectedStaff.SID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Delete
            <span class="glyphicon glyphicon-minus"></span>
        </a>
    </nav>
</div>

<h2>Staff Details: @Model.SelectedStaff.FName @Model.SelectedStaff.LName</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Contact</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.SelectedStaff.SID</th>
            <td>@Model.SelectedStaff.DOB.ToLongDateString()</td>
            <td>@Model.SelectedStaff.Contact</td>
            <td>@Model.SelectedStaff.DName</td>
        </tr>
    </tbody>
</table>
<br />

<h3>List of Shifts for @Model.SelectedStaff.FName @Model.SelectedStaff.LName</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date of shift</th>
                <th scope="col">Type of shift</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shift in Model.KeptShifts)
            {
                <tr>
                    <td>@shift.Date.ToLongDateString()</td>
                    <td>@shift.Type</td>
                </tr>
            }
        </tbody>
    </table>
</div>
