@model HospitalProject_W2022.Models.ViewModels.UpdateStaff
@{
    ViewBag.Title = "Edit";
}

<h2>Update Staff</h2>

<div>
    <a href="/Staff/List" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to
        <br />the Staff list
    </a>
</div>

<form method="POST" action="/Staff/Update/@Model.SelectedStaff.SID" enctype="multipart/form-data" class="editForm">
    <div class="form-group">
        <label>Staff ID:</label>
        @* Pass through the staff ID *@
        <input type="text" class="form-control-plaintext" readonly name="SID" value="@Model.SelectedStaff.SID" />
    </div>
    <div class="form-group">
        <label>First Name:</label>
        <input type="text" name="FName" value="@Model.SelectedStaff.FName" />
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input type="text" name="LName" value="@Model.SelectedStaff.LName" />
    </div>
    <div class="form-group">
        <label>Date of birth:</label>
        <input type="text" name="DOB" value="@Model.SelectedStaff.DOB.ToShortDateString()" />
    </div>
    <div class="form-group">
        <label>Contact</label>
        <input type="number" name="Contact" value="@Model.SelectedStaff.Contact" />
    </div>
    <div class="form-group">
        <label>Department:</label>
        <select name="DID">
            @foreach (var department in Model.DepartmentOptions)
            {
                string selected = "";
                if (department.DID == Model.SelectedStaff.DID)
                {
                    selected = "selected";
                }
                <option value="@department.DID" @selected>@department.DName</option>
            }
        </select>
    </div>
    <!--<div>
        <input type="submit" value="Update Staff" />
    </div>-->
    <button type="submit" class="btn btn-primary" value="Update Staff">Update Staff</button>
</form>

<hr />

<h3>List of Shifts for @Model.SelectedStaff.FName @Model.SelectedStaff.LName</h3>
<div>
    @foreach (var shifts in Model.ShiftOptions)
    {
        <label>@shifts.Date.ToLongDateString() | @shifts.Type</label>
        <br />
    }
</div>

