@model HospitalProject_W2022.Models.ViewModels.DetailsPatient
@{
    ViewBag.Title = "Details";
}

<div id="containershow">
    <nav>
        <!-- Back to patient list -->
        <a href="/patient/list" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to
            <br />the Patient list
        </a>
        <!-- Update patient button -->
        <a href="/patient/edit/@Model.SelectedPatient.PID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-home glyphsize"></span>
            <br />Update
            <span class="glyphicon glyphicon-edit"></span>
            <br />Patient
        </a>
        <!-- Delete patient button -->
        <a style="color:#ab2020;" href="/patient/deleteconfirm/@Model.SelectedPatient.PID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-home glyphsize"></span>
            <br />Delete
            <span class="glyphicon glyphicon-minus"></span>
            <br />Patient
        </a>
    </nav>
    <div>IsAdmin: @Model.IsAdmin </div>

    <h2>@Model.SelectedPatient.FName @Model.SelectedPatient.LName</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Patient ID: @Model.SelectedPatient.PID</li>
        <li class="list-group-item">Health Card: @Model.SelectedPatient.HC</li>
        <li class="list-group-item">Date of Birth: @Model.SelectedPatient.DOB.ToLongDateString()</li>
        <li class="list-group-item">Address: @Model.SelectedPatient.Address</li>
        <li class="list-group-item">Contact: @Model.SelectedPatient.Contact</li>
    </ul>
</div>

<div>
    <h3>List of Appointments for @Model.SelectedPatient.FName @Model.SelectedPatient.LName</h3>
    @foreach(var appointment in Model.RelatedAppointments)
    {
        <a href="/Appointment/Details/@appointment.AID">Date: @appointment.Date.ToLongDateString() | Time: @appointment.Time | Reason: @appointment.Reason</a>
        <br/>
    }
</div>
