@model HospitalProject_W2022.Models.ViewModels.DetailsDepartment
@{
    ViewBag.Title = "Details";
}

<div id="containershow">
    <nav>
        <!-- Back to department list -->
        <a href="/department/list" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to
            <br />the Department list
        </a>
        <!-- Update department button -->
        <a href="/department/edit/@Model.SelectedDepartment.DID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-home glyphsize"></span>
            <br />Update
            <span class="glyphicon glyphicon-edit"></span>
            <br />Department
        </a>
        <!-- Delete department button -->
        <a style="color:#ab2020;" href="/department/deleteconfirm/@Model.SelectedDepartment.DID" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-home glyphsize"></span>
            <br />Delete
            <span class="glyphicon glyphicon-minus"></span>
            <br />Department
        </a>
    </nav>
</div>

<h2>Department: @Model.SelectedDepartment.DName</h2>
<table class="table">
    <thead>
        <th scope="col">Department ID</th>
        <th scope="col">Department Name</th>
    </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.SelectedDepartment.DID</th>
                <td>@Model.SelectedDepartment.DName</td>
            </tr>
        </tbody>
</table>

<div>
    <h3>List of Staffs for @Model.SelectedDepartment.DName Department</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Model.RelatedStaffs)
            {
                <tr>
                    <td>@staff.FName @staff.LName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
